BasedOnStyle: LLVM
ColumnLimit: 120
TabWidth: 4
IndentWidth: 4
UseTab: false
InsertBraces: true
IndentCaseBlocks: false
IndentAccessModifiers: false
AccessModifierOffset: -4
BreakBeforeBraces: Allman
MaxEmptyLinesToKeep: 2
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex: '^<cuda'
    Priority: 1
    SortPriority: 0
  - Regex: '^<thrust/'
    Priority: 1
    SortPriority: 1
  - Regex: '^<opencv2/'
    Priority: 1
    SortPriority: 2
  - Regex: '^<sys/'
    Priority: 1
    SortPriority: 3
  - Regex: '^<(net|netinet|protocols)/'
    Priority: 1
    SortPriority: 4
  - Regex: '^"\.\./'
    Priority: 3
    SortPriority: 6
  - Regex: '^"'
    Priority: 4
    SortPriority: 7

BitFieldColonSpacing: None
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
QualifierAlignment: Left
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakTemplateDeclarations: false
BreakTemplateDeclarations: No
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ContinuationIndentWidth: 4